#parent {
  background:#3da;
  width:400px;
  height:800px;
}
#child {
  background:#80f;
  width:200px;
  margin:100px;
  height:200px;
}
#child2 {
  background:#808;
  width:200px;
  margin:100px;
  height:200px;
}
#child3 {
  background:#880;
  width:200px;
  margin:100px;
  height:200px;
}